@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin:0;
    padding:2px;
    box-sizing: border-box;
    line-height:1.5;
    font-family:'Poppins',sans-serif;
    
}
body{
    width:100%;
    min-height:100vh;
    background-color:#ddd;

}
.about-us{
    width:100%;
}
.about-us h1{
    text-align:center;
    font-size:40px;
    color:#2b9ec2;
    text-transform:uppercase;
    letter-spacing:1.5px;
    margin-top:50px;
}

.about-us h1::after{
    content:"";
    height:5px;
    width:200px;
    background-color:#2b9ec2;
    border-radius:10px;
    display:block;
    margin:auto;


}
.wrapper{
    padding:20px 70px;
    margin:70px auto;

}
.contact{
    text-align:center;

}


.contact h3{
    color:#222;
    letter-spacing:1px;

}
.contact p{
    font-family:sans-serif;
    font-size:17px;
    color:#3d3d3d;
}
.content{
    width:60%;
    float:left;
    text-align:left;
    padding:0px 30px;

}
.image-section{
    width:40%;
    float:right;
    padding: 0px 30px;
}
.image-section img{
    max-width:100%;
    height:auto;
}
@media screen and(max-width: 900px){
    .about-us{
        width:100%;
        padding-top:20px;
    }
    .about us h1{
        font-size:32px;
    }
    .content{
        width:100%;
        float:none;
    
    }
    .image-section{
        float:none;
        width:100%;
        margin-top:25px;
        
    }
}